astropy==6.1.0
av==12.0.0
brotli==1.1.0
brotlicffi==1.1.0.0
ConfigParser==7.0.0
cryptography==42.0.7
Cython==3.0.10
defusedxml==0.7.1
disco==1.40.4
dl==0.1.0
docutils==0.21.2
h2==4.1.0
HTMLParser==0.0.2
hypothesis==6.102.4
imagecodecs==2024.1.1
importlib_metadata==7.1.0
ipaddr==2.2.0
ipython==8.12.3
ipywidgets==8.1.2
itk==5.4.0
js==1.0
keyring==25.2.1
lockfile==0.12.2
lxml==5.2.2
matplotlib==3.9.0
mock==5.1.0
mtrand==0.1
mypy==1.10.0
mypy_extensions==1.0.0
numarray==1.5.1
Numeric==24.2
olefile==0.47
ordereddict==1.1
osgeo==0.0.1
pandas==2.2.2
pickle5==0.0.12
pillow_heif==0.16.0
protobuf==5.26.1
psutil==5.9.8
pygame==2.5.2
PyInstaller==6.7.0
pyodide==0.0.2
pyOpenSSL==24.1.0
PyQt6==6.7.0
PySide6==6.7.0
pytest==8.2.1
pytz==2024.1
pywin32==306
PyYAML==6.0.1
scipy==1.13.0
setuptools_scm==8.1.0
SimpleITK==2.3.1
simplejson==3.19.2
skimage==0.0
slack_sdk==3.27.2
tensorflow==2.16.1
thread==2.0.1
threadpoolctl==3.5.0
typing_extensions==4.11.0
wincertstore==0.2.1
xmlrpclib==1.0.1
zipp==3.18.2
zstandard==0.22.0
zstd==1.5.5.1
